/* I am going to want one large box with multiple boxes(buttons) inside*/


/* .container {
    background-color: lightblue;
    border-radius: 5px;
    width: 800px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);    
} */

.start-btn {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 400;
    padding: 15px 25px;
    outline: none;
    border: none;
    cursor: pointer;
}

.container {
    display: none;
}