/* I am going to want one large box with multiple boxes(buttons) inside*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    padding: 0;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    width: 800px;
    max-width: 80%;
}
